@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: black;
}

.today {
    display: none;
    &--visible {
        display: block
    }
}

.header {
    background: url("/assets/img/niebo.jpg");
    object-fit: cover;
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__city {
        color: white;
        font-size: 30px;
        margin: 15px;
    }
    &__share {
        width: 25px;
        height: 25px;
        margin: 15px;
        justify-content: flex-end;
        margin-left: auto;
        fill: white;
    }
    &__list {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 10px;
        font-size: 15px;
    }
}

.today {
    background-color: #141C27;
    color: white;
    margin: 10px;
    padding: 10px;
    &__title {
        color: #1B8D92;
        font-size: 20px;
        top: 15px;
    }
    &__temperature {
        color: #1B8D92;
    }
    &__text {
        font-weight: normal;
    }
}

.now {
    background-color: #141C27;
    color: white;
    margin: 10px;
    padding: 10px;
    &__title {
        color: #1B8D92;
        font-size: 20px;
        top: 10px;
    }
    &__info {
        font-size: 25px;
        font-weight: normal;
    }
    &__condition {
        font-weight: normal;
        font-size: 18px;
        &--wind {
            font-size: 15px;
        }
    }
    &__temperature {
        font-size: 40px;
    }
    &__icon {
        height: 80px;
        width: 80px;
        margin-left: 50px;
    }
}

.hour {
    background-color: #141C27;
    color: white;
    margin: 10px;
    padding: 10px;
    display: none;
    &--visible {
        display: block;
    }
    &__list {
        padding: 0;
        &--item {
            list-style-type: none;
            font-size: 30px;
            margin-top: 20px;
            border-bottom: 2px solid #1B8D92;
            display: flex;
            justify-content: space-between;
        }
        &--icon {
            height: 64px;
            width: 64px;
        }
    }
}

.days {
    background-color: #141C27;
    color: white;
    margin: 10px;
    padding: 10px;
    display: none;
    &--visible {
        display: block;
    }
    &__list {
        list-style: none;
    }
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    &__icon {
        height: 30px;
        width: 30px;
    }
}